
.videoList {
	width: 100%;
	padding-top: 2.5rem;

	h3 {
		margin-bottom: 2.5rem;
	}
}

.videoItemCntr{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.vidThumbCntnr {
	width: 7.5rem;
	height: 4.37rem;
	margin-right: 1rem;
	margin-bottom: 1.5rem;

	img {
		width: 120px;
		height: 70px;
		border-radius: 0.312rem;
	}
}

.videoInfo {
	width: 100%;
	font-weight: 600;

	p {
		font-size: 1rem;
		font-weight: normal;
		margin-top: 0.5rem;
	}
 }
