@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextLTPro-Medium.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Box-sizing border-box */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirNext LT Pro";
  font-size: 16px;
  color: #000;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10.56rem;
  padding: 0.75rem 1rem 1rem 1rem;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.75rem auto;
}

.header .search {
  width: 100%;
}

.header input[type=text] {
  width: 100%;
  padding: 0.75rem 3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #F7F7F7;
  font-size: 0.9rem;
  margin: 0 0 0.5rem 0;
  background-image: url("../../assets/Icons/PNG/Icon-search.png");
  background-repeat: no-repeat;
  background-position: 3% 50%;
  font-size: 1rem;
}

.header input[type=text]:focus {
  border: 2px solid #0095FF;
}

.uploadBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0095FF;
  padding: 0.875rem 2rem;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 1rem 0 0;
  width: 100%;
  height: 54px;
  letter-spacing: 0.2em;
}

.uploadBtn span {
  margin-right: 0.5rem;
  font-size: 2rem;
  margin-top: -10px;
}

.uploadBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.uploadBlock a {
  width: 100%;
  margin-right: 1rem;
}

.avatar img {
  height: 54px;
  width: 54px;
  border-radius: 50%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 183px;
}

.videoPlayer {
  background-color: black;
  width: 100%;
  height: 183px;
  position: relative;
}

.videoPlayer img {
  width: 100%;
  height: 183px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ctrlPlateCtnr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.ctrlPlate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.ctrlPlate img {
  width: 100%;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.videoIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.4rem 0.625rem;
  height: 1.875rem;
  border-radius: 3px;
}

.videoIcons__left {
  width: 10%;
  margin-left: 1rem;
}

.videoIcons__center {
  width: 70%;
  margin: 0 0.5rem;
}

.videoIcons__right {
  width: 20%;
  margin-right: 1rem;
}

.icon {
  margin: 0 10px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 1rem;
}

.leftCol,
.rightCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.preIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 1.5rem;
}

.mainTitle {
  color: #000;
  margin-bottom: 1rem;
}

.mainTitle h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
}

.articleInfo, .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 2rem;
}

.signature {
  color: #000;
  margin-right: 0.5rem;
}

.date {
  color: #ccc;
}

.views {
  padding-left: 1.875rem;
  background-image: url("../../assets/Icons/PNG/Icon-views.png");
  background-repeat: no-repeat;
  background-position: 3% 50%;
  font-size: 0.875rem;
  margin-right: 1.25rem;
}

.likes {
  padding-left: 1.56rem;
  background-image: url("../../assets/Icons/PNG/Icon-likes.png");
  background-repeat: no-repeat;
  background-position: 3% 50%;
  font-size: 0.875rem;
}

.intro {
  line-height: 1.6rem;
  margin-bottom: 2.5rem;
}

.formSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.commentNum {
  color: #323232;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.avatarCell {
  width: 15%;
  padding-top: 1.8rem;
}

.formCell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  padding-left: 0.8rem;
}

.formCell h3 {
  margin: 0 0 0.5rem 0;
  color: #CCC;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0 15px 0;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #F7F7F7;
  outline: none;
  font-family: "AvenirNext LT Pro";
  font-size: 1rem;
  resize: none;
}

input[type=submit] {
  background-color: #0095FF;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 1rem 0 1rem;
  height: 54px;
}

textarea:focus {
  border: 2px solid #0095FF;
}

.conversContainer {
  padding: 2rem 1rem 2rem 1rem;
  width: 100%;
}

.conversContainer h1 {
  margin-bottom: 0;
  line-height: 2rem;
}

.avatarCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 15%;
  height: auto;
  text-align: right;
}

.innerConvers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  width: 100%;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #E1E1E1;
}

.commentCol {
  position: relative;
  width: 85%;
  padding-left: 10px;
}

.commentAuthor {
  display: inline;
  width: 65%;
  font-size: 0.9rem;
  font-weight: 600;
  color: #323232;
}

.commentDate {
  display: inline;
  height: auto;
  margin-top: 1px;
  width: 35%;
  font-size: 0.9rem;
  color: #ccc;
  text-align: right;
  position: absolute;
  right: 0;
}

.comment {
  height: auto;
  margin-top: 1rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.video-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.video-list__img {
  display: inline;
  width: 120px;
  height: 70px;
  border-radius: 0.312rem;
  margin-right: 1rem;
}

.video-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin-bottom: 1rem;
  position: relative;
}

.videoListBtn {
  display: block;
  margin-bottom: 2px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.video-list_rightCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: auto;
  padding: 0;
}

.video-list_rightCol p {
  margin: 0 0 0.5rem 0;
}

.video-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin-bottom: 0.5rem;
  font-weight: 500;
  text-align: left;
}

.video-list__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.marginFix {
  margin: 1.5rem 0 2.5rem 0.5rem;
  color: #ccc;
}

@media only screen and (min-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5rem;
    padding: 1.3rem 1rem 1rem 1rem;
  }
  .header__logo {
    margin-top: 0.75rem;
    margin-right: 169px;
  }
  .header .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 252px;
    margin: 3px 24px 0 0;
  }
  .header input[type=text] {
    padding: 1.1rem 2rem;
  }
  .uploadBtn {
    color: #fff;
    margin: 0 1.5rem;
    letter-spacing: 0;
  }
  .uploadBtn span {
    margin-right: 0.5rem;
    font-size: 2rem;
  }
  .uploadBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  .uploadBlock a {
    width: 120px;
    margin-right: 3rem;
  }
  .hero {
    width: 100;
    height: 400px;
    background-color: black;
  }
  .videoPlayer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 400px;
    width: 700px;
  }
  .videoPlayer img {
    width: 100%;
    height: 400px;
  }
  .ctrlPlateCtnr {
    width: 700px;
  }
  .ctrlPlate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .ctrlPlate img {
    width: 100%;
    height: 100%;
    margin-right: 5px;
    margin-left: 5px;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  .videoIcons__left {
    width: 10%;
    margin-left: 1rem;
  }
  .videoIcons__center {
    width: 519px;
    margin: 0 0.5rem;
  }
  .videoIcons__right {
    width: 20%;
    margin-right: 1rem;
  }
  .preIntro {
    margin-bottom: 2.5rem;
  }
  .postTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .articleInfo, .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .signature {
    color: #000;
  }
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 0;
  }
  .intro {
    margin-bottom: 3.75rem;
    width: 70%;
  }
  .avatarCell {
    width: auto;
  }
  .formCell {
    width: 95%;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  form .uploadBtn {
    width: 160px;
    color: #fff;
    margin: 0 1.5rem;
    padding: 0;
  }
  input[type=text], textarea {
    width: 440px;
    height: 54px;
    font-family: "AvenirNext LT Pro";
    font-size: 1rem;
    resize: none;
  }
  .avatarCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: auto;
    height: auto;
    text-align: right;
  }
  input[type="submit"] {
    width: 160px;
    margin-left: 20px;
    margin-right: 40px;
  }
  .commentCol {
    width: 624px;
  }
  .commentAuthor {
    width: auto;
  }
  .commentDate {
    width: auto;
  }
  .video-list {
    list-style: none;
    max-height: 70px;
    padding: 0;
  }
  .video-list__img {
    display: inline;
    width: 120px;
    height: 70px;
    border-radius: 0.312rem;
    margin-right: 1rem;
  }
  .video-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
    margin-bottom: 1.5rem;
    position: relative;
  }
  .video-list_rightCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
    padding: 0;
  }
  .video-list_rightCol p {
    margin: 0 0 0.5rem 0;
  }
  .video-list__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .video-list__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1280px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1200px;
    height: 5rem;
    padding: 1.2rem 1rem 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .header__logo {
    margin-right: 31.812rem;
  }
  .header input[type=text] {
    width: 100%;
    padding: 0.75rem 2rem;
  }
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 18.75rem;
    margin-right: 0;
  }
  .uploadBtn {
    width: 7.5rem;
    height: 3.375rem;
    padding: 0.5rem 0rem 0.5 2rem;
    margin-left: 0;
    margin-right: 1.5rem;
  }
  .uploadBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
  }
  .uploadBlock a {
    width: 120px;
    margin-right: 0;
  }
  .avatar img {
    margin-left: 1.5rem;
  }
  .hero {
    width: 100%;
    height: 540px;
  }
  .videoPlayer {
    background-color: black;
    width: 59rem;
    height: 33.75rem;
  }
  .videoPlayer img {
    height: 540px;
  }
  .ctrlPlate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .ctrlPlate img {
    width: 100%;
    height: 100%;
    margin-right: 5px;
    margin-left: 5px;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  .videoIcons__center {
    width: 46.93rem;
    margin: 0 0.5rem;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 1200px;
    padding: 2rem 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  .leftCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row nowrap;
            flex-direction: row nowrap;
    width: 712px;
    border-right: 1px solid #CCC;
  }
  .rightCol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 488px;
    padding-left: 2rem;
  }
  .preIntro {
    border-bottom: 2px solid #E1E1E1;
    margin-bottom: 1.5rem;
  }
  .stats {
    padding-right: 1rem;
  }
  .intro {
    max-width: 80%;
    line-height: 1.6rem;
    margin-bottom: 2.5rem;
  }
  .formSection, .formCell, .preIntro, .intro, .innerConvers {
    width: 44.5rem;
  }
  .formSection {
    padding-bottom: 1rem;
    border-bottom: 1px solid #E1E1E1;
  }
  .avatarCell {
    width: auto;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  form .uploadBtn {
    width: 10rem;
    color: #fff;
    margin: 0 1.5rem;
    padding: 0;
  }
  input[type=text], textarea {
    width: 26.5rem;
  }
  .avatarCol {
    width: auto;
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */